html {scroll-behavior: smooth;}
body{overflow-x: hidden;}
li, td, table, tr, th, thead, input, label, select, textarea , button {
	font-family: "Manrope", sans-serif;
	font-weight:400;
	font-size:17px;
	color:#000;
	outline:none;
}
h1 {
	font-family: "Prata", serif;
	font-size:55px;
	text-align:center;
	color: #24577B;
	margin-top:0;
	margin-bottom:20px;
}
h2 {
	font-family: "Prata", serif;
	font-size:45px;
	margin: 0;
	text-align:center;
	color: #24577B;
	margin-top:0;
}
h3{
	font-family: "Prata", serif;
	font-size:30px;
    margin: 0;
    text-align: center;
	color: #24577B;
	margin-top:0;
}
h4{	
	font-family: "Prata", serif;
	font-size:20px;
	margin-top:0;
	color: #24577B;
}
p{
	line-height:24px;
	color:#FFF;
	font-weight:400;
    margin: 0;
	font-size:15px;
	margin-bottom:10px;
	font-family: "Manrope", sans-serif;
}
a{}

a:focus, a:hover {
	outline:none;
	color:#FFF;
    text-decoration: none;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.no-pad{padding-left:0; padding-right:0;}
.navbar{
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    background:#FFF; 
	padding: 10px 0; 
	box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 16;
}
.navbar-brand{
	float: left;
    height: auto;
    padding: 0;
	margin-top:15px;
	margin-left:0 !important;
}
.scrolled .navbar-brand{margin-top:3px; transition: 0.5s;}
.navbar-default .navbar-nav>li{text-transform:uppercase;}
.navbar-default .navbar-nav>li>a{
	color:#000;
	line-height:17px;
	padding: 0;
	font-size:15px;
	font-weight:600;
}
.navbar-default .navbar-nav>li>a:hover{color:#32aa9a; border-bottom:4px solid #32aa9a;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #b3914a;
    background-color: #203056;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color:transparent;}
.navbar-default .navbar-toggle{margin-top: 20px; border-color:#b3914a;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:transparent; }
.navbar-default .navbar-toggle .icon-bar {background-color: #b3914a;}
.navbar-default .navbar-nav>li>a:focus { color: #000;}
.dropdown-menu>li>a{line-height:30px; }
.dropdown-menu>li>a:hover{color:#b3914a;}
.navbar-toggle{background: #7f1e46;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: #7f1e46;}
.nav>li {
    position: relative;
    display: block;
    padding: 0;
}
.nav>li:last-child{border-right:none;}
#myNavbar ul li.dropdown:hover > .dropdown-menu {display: block;}
.dropdown-menu{
	padding:0;
    margin: 0;
    border: none;
    left: 0 !important;
	border-radius:0;
    background:#0d509d;
	top:100%;
	position:absolute;
}
#myNavbar ul li ul.dropdown-menu li{border-bottom:1px solid #7CA0D9; margin:0; padding: 15px 30px;}
#myNavbar ul li ul.dropdown-menu li:last-child{border-bottom:none;}
#myNavbar ul li ul.dropdown-menu li a{
	color:#FFF;
    padding: 0;
    line-height: 20px;
}
#myNavbar ul li ul.dropdown-menu li a:hover{color:#7CA0D9;}
#myNavbar ul{padding-inline-start:0; float:right; display:table; margin:20px auto; position:relative;}
#myNavbar ul li{padding:0 30px;}
#myNavbar ul li.cntxt{
	border:1px solid #FFF;
	border-radius:15px;
	padding:0 40px;
}
#myNavbar ul li a{transition: all 0.3s ease; padding:0; color:#FFF; font-weight:500; position:relative; line-height:50px; text-transform:uppercase;}
#myNavbar ul li a:hover{transform: translateY(-2px); color:#C39E4B; font-weight:500;}
.nav.navbar-nav li.active a {color: #FFF !important; background-color:transparent;}
.nav.navbar-nav li.active a:hover{background-color:transparent;}
.nav.navbar-nav li.active a:focus{background-color:transparent;}
.navbar-nav>li>.dropdown-menu{margin-top:0 !important;}
@media screen and (min-width:992px) and (max-width:1199px){
.nav>li>a {}
}
@media screen and (max-width:991px) {
.navbar-header {float: none;}
.navbar-left,.navbar-right {float: none !important;}
.navbar-toggle {display: block;}
.navbar-collapse {border-top: 1px solid transparent; box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);}
.navbar-fixed-top {top: 0;	border-width: 0 0 1px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav {
	float: none!important;
	margin-top: 7.5px;
	margin-right: 0 !important;
}
.navbar-nav>li {float: none; padding:0;}
.navbar-nav>li>a {padding-top:10px; padding-bottom: 10px;}
.collapse.in{display:block !important;}
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	padding: 0;
    padding-bottom: 17px;
	margin:0 !important;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #FFF;	border-bottom:1px solid #384d81;}
.navbar-collapse {padding-right: 0; padding-left: 0;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:#203056;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color:transparent;}
}
@media (max-width: 767px){
.navbar-collapse {padding-right: 15px; padding-left: 15px;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#b7944c;}
}
hr.brdrsctn{border-top: 1px solid #D1F2F1; margin-top:40px; margin-bottom:40px;}

.sidenav{margin-bottom:30px; background:#f6f5f1; padding:12px 0; border-radius: 6px;}
.sidenav h1.cntxt{margin: 15px 20px;}
.sidenav ul{padding-inline-start:0;}
.sidenav ul li{
	list-style-type:none;
	border-bottom:1px solid #e0d6d6;
	position:relative;
	font-size:15px;
}
.sidenav ul li a{padding:17px 25px; display:block; line-height:20px;}
.sidenav ul li a:hover:after{
	content: '';
    position:absolute;
    right:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid #f6f5f1;
    top:15px;
}
.sidenav ul li a.hvr-sweep-to-right:before{background:#35d397;}
.sidenav ul li a.active:after{
	content: '';
    position:absolute;
    right:0;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid #f6f5f1;
    top:15px;
}
.sidenav ul li a.active{background:#35d397; color:#FFF;}	
.sidenav ul li:last-child{border-bottom:none;}
.mobile-header{
	background-color:#FFF; 
	position:fixed;
	z-index:99; 
	padding:15px 0;
	width:100%; 
	top:0;
	box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.1);
}
.mobile-header.scrolled{background:#FFF; padding-bottom:15px;}
.mobile-header .navbar-brand{margin-top: 0;}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background:#FFF;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top:0;
}
.sidebar hr{margin-bottom:20px;}
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    color: #c39a58;
    display: block;
    line-height: 25px;
    border-bottom: 1px solid rgba(202,209,233,.85);
    font-size: 17px;
    font-weight:700;
    text-transform: uppercase;
	letter-spacing:0;
}
.sidebar a:hover{background-color:#c39a58; color:#FFF;}
.sidebar a:focus{background-color:#c39a58; color:#FFF;}
.sidebar a img{padding:0; outline:none;}
.sidebar .closebtn {
    border-bottom: none;
    margin-left: 0;
    padding: 0;
    position: absolute;
    top:25px;
    right: 17px;
    background: transparent;
    outline: none;
    border: none;
}
.closebtn svg{fill:#c39a58; height:30px;}
.sidebar .closebtn:hover{background-color:transparent;}
.openbtn {
    cursor:pointer;
    background-color:transparent;
    border:none;
    outline:none;
	margin-top:0;
}
.openbtn:hover {background-color:transparent;}
#main button.openbtn svg { transform: rotate(-180deg);}
#main button.openbtn svg{
	fill: #c39c52;
    height: 30px;
    margin-right: 0;
    transition: transform 0.5s ease;
}
#main {
	float: right;
    margin-top:6px;
    transition: margin-right .5s;
    position: relative;
    right: 0;
}
#main svg{
	fill:#c39c52;
    height: 25px;
    margin-right:25px;
    position: relative;
    bottom: 0;
    right: 0px;
    top: 0px;
    margin-top: 0;
}
/* ACCORDIAN CSS */
.panel-group {margin-bottom: 0;}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border-color: transparent;
	border:none;
}
.panel-group .panel+.panel {margin-top: 0;}
.panel .panel-heading{
	padding:0;
	background-color:transparent;
	border-color: transparent;
	/* border-top: 1px solid #ddd; */
	border-bottom:none;
	color:#092948;
	border-top-left-radius:0;
    border-top-right-radius:0;
}
.panel .panel-heading h4{text-transform:uppercase;}
.panel .panel-heading h4 a{display:block;  font-size:22px; line-height:25px; padding:20px 25px;}
.panel .panel-heading a i.fas{float:right; margin-top:0; line-height: 25px;}
.panel-body {padding:0; border-top:none !important; padding: 0 0 15px;}
.panel{
  padding:0;
  color:#FFF;
  text-align:left;
  overflow: hidden;
  background:transparent;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.panel ul{
	padding-inline-start: 0;
    margin-top: 0;
    margin-bottom:0;
	margin-left:0;
}
.panel ul li{list-style-type:none; border-bottom:1px solid #ddd;}
.panel ul li:last-child{border-bottom:none;}
.panel ul li a{
	outline: none;
	font-size:20px;
    line-height:22px;
    padding:20px 40px;
	outline:none;
	color:#FFF;
	border-bottom:none;
}
.panel ul li a:hover {color:#164BA0; background:#EBF8FF;}
.panel ul li a:focus {color:#164BA0; background:#EBF8FF;}
.panel ul li a:active {color:#164BA0; background:#EBF8FF;}
.sidebar .sclbox{padding: 25px 17px; border-bottom: 1px solid #dadada;}
.sidebar .sclbox a{border-bottom:none; padding:0; margin-top: 0;}
.sidebar .sclbox a:focus{background-color: transparent; color: transparent;}
.sidebar .sclbox ul{padding-inline-start:0; margin-top:15px; margin-bottom: 0;}
.sidebar .sclbox ul li{ list-style-type:none; display:inline-flex; margin:0 5px;}
.sidebar .sclbox ul li svg{height:25px; fill:#c39a58;}
.sidebar .sclbox h4{color:#2B200B; font-size:22px;}
/* NEW CSS STARTS HERE */
/* Logo transition */

.viewtxt{
	margin: 50px auto 0;
	display:table;
	text-transform:uppercase;
	color:#2B200B;
	font-size:16px;
	line-height: 30px;
	outline:none;
	border-bottom:1px solid #9D7F52;
}
.viewtxt:hover{color:#9D7F52;}
.borderbx{
	border-radius:15px;
	background:rgba(0,0,0,.85);
	padding:15px;
	display: inline-table;
}
.imgradius{border-radius:20px;}
.sectionbx{padding:80px 0;}
#myNavbar{padding:0 0;}
.scrolled {
    transition: 0.5s;
    width: 100%;
    left: 0;
    top: 0;
    padding:10px 0 0;
	height: auto;
	background:rgba(255,255,255,.99);
	z-index:16;
}
.scrolled #myNavbar ul{border-bottom:none; margin: 0 auto 25px;}
.scrolled #myNavbar ul li a{color:#C39E4B;}
.scrolled #myNavbar ul li.cntxt{border:1px solid #C39E4B;}
.bannersctn{
	width:100%; 
	background-size:cover;
	position: relative;
}
.bannersctn img{width:100%; margin:0 auto;}
.bannersctn video{
	width: 100%;
    margin: 0 auto;
}
.bannrBox {
	position: relative;
    z-index: 99;
    width: 100%;
}
.bannrTxtbox{
	position: absolute;
    top: 200px;
    width: 100%;
    left:10px;
    z-index: 1;
}
.bannrTxtbox h1{color:#FFF; text-align:left; line-height:75px;}
.bannrTxtbox p{font-weight:400; color:#FFF; font-size:18px; line-height:24px; margin-bottom:10px;}
.exprnc {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background:#C39E4B;
  text-decoration: none;
  font-size:16px;
  font-weight:600;
  padding:15px 27px;
  border-radius:20px;
  line-height:30px;
  position: relative;
  overflow: hidden;
  color: #FFF;
  text-transform:uppercase;
  margin-top:40px;
}
.exprnc::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.08);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
}
.exprnc span,
.exprnc svg {
  position: relative;
  z-index: 1;
}
.exprnc svg {
  width: 20px;
  height: 16px;
  transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
  rotate:312deg;
}
.exprnc:hover::before { transform: translateX(0);}
.exprnc:hover {border-color: rgba(0, 0, 0, 0.5);}
.exprnc:hover svg {transform: translateX(6px);}
.exprnctnr{padding-top:150px;}
.exprncsctn{background:#FCFAF4;}
/* .exprncsctn h2{
	position:relative;
	color:#9D7F52;
	letter-spacing:2px;
	line-height:50px;
	font-size:15px;
	text-transform:uppercase;
	font-weight:600;
	font-family: "Manrope", sans-serif;
    transition: opacity 0.9s ease, transform 0.9s ease;
    opacity: 0;
    transform: translateY(30px);
}
.exprncsctn h2:after{
	content:'';
	position:absolute;
	background:#9D7F52;
	width:20px;
	height:1px;
	top: 24px;
    right: 27vw;
}
.exprncsctn h2:before{
	content:'';
	position:absolute;
	background:#9D7F52;
	width:20px;
	height:1px;
	top: 24px;
    left: 27vw;
}
.exprncsctn h2.animate{ opacity: 1; transform: translateY(0px);} */
.sctninnr{
	position: relative;
    z-index: 2;
    width: 100%;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.sctninnr.animate{opacity: 1; transform: translateY(0px);}
.sctninnr-eyebrow{
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 400;
	text-transform:uppercase;
    font-size: 15px;
    letter-spacing: 0.2em;
    color: #9D7F52;
    margin-bottom:15px;
}
.sctninnr-eyebrow .line {
    display: inline-block;
    width: 19px;
    height: 1px;
    background: #9D7F52;
}
.sctninnr-title{
    font-weight: 400;
    color: #4D4D4D;
	margin-bottom: 30px;
}
.titletxt{margin-bottom:0;}
.exprncsctn h1{
	font-size:45px; 
	color:#2B200B;
	transition: opacity 0.9s ease, transform 0.9s ease;
    opacity: 0;
	line-height:45px;
    transform: translateY(30px);
}
.exprncsctn h1.animate{ opacity: 1; transform: translateY(0px);}
.exprncsctn p{
	transition: opacity 0.9s ease, transform 0.9s ease;
    opacity: 0;
    transform: translateY(30px);
}
.exprncsctn p.animate{opacity: 1; transform: translateY(0px);}
.exprncsctn p.incldbxtxt{
	background: #9D7F52;
    margin-top: 22px;
    color: #FFF;
	font-size:18px;
    display: inline;
    padding: 5px 12px;
    position: absolute;
    bottom: -23px;
}
.exprncsctn p.incldbxtxt:after{
	content: '';
    position: absolute;
    right: -20px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 47px solid transparent;
    border-right: 0 solid transparent;
    border-left: 20px solid #9D7F52;
}
.servicegrid{
	margin-top:90px;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
}
.service-card{
	position:relative;
	background:#FFF;
	border-radius:6px;
	border:1px solid rgba(157,127,82,.55);
}
.service-card:before{
	position:absolute;
	content:'';
	width:100%;
	height:6px;
	background:#9D7F52;
	bottom:0;
	-webkit-border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomright:15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius:15px;
}
.service-card .imgbx {
    position: relative;
    overflow: hidden;
    border-radius: 6px 6px 0 0;
}
.service-card .imgbx img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.arrow-btn {
    position: absolute;
    top:-22px;
    right: 20px;
    width: 44px;
    height: 44px;
    background: #9D7F52;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
    text-decoration: none;
    transition: background 0.3s ease;
	rotate:310deg;
	padding: 10px;
}
.arrow-btn:hover {background: #7a6340;}
.arrow-btn svg { width: auto;  height:22px;}
.card-content {padding:35px; position:relative;}
.card-title {
    font-weight: 400;
    margin-bottom:20px;
    color: #2B200B;
	text-align:left;
	font-size: 24px;
}
.card-location {
	position:relative;
    display: inline-block;
    background: #9D7F52;
    color: #fff;
    font-size: 15px;
	font-weight:500;
    padding: 5px 14px;
	font-family: "Manrope", sans-serif;
}
.card-location:after{
	content: '';
    position: absolute;
    right: -20px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-right: 0 solid transparent;
    border-left: 20px solid #9D7F52;
}
.card-divider {
    height: 1px;
    background: #9D7F52;
    margin: 0 0 30px;
}
.card-meta {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    gap:20px;
}
.service-card .imgbx:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(157, 127, 82, 0);
    transition: background 0.35s ease;
    z-index:0;
}
.service-card:hover .imgbx:after { background: rgba(157, 127, 82, 0.35);}
.service-card .card-content { transition: transform 0.35s ease;}
.service-card:hover .card-content {transform: translateY(-4px);}
.service-card { transition: box-shadow 0.35s ease;}
.service-card:hover { box-shadow: 0 12px 35px rgba(157, 127, 82, 0.25);}
.arrow-btn { transition: background 0.3s ease, transform 0.3s ease;}
.service-card:hover .arrow-btn {background: #7a6340; transform: scale(1.1);}
.meta-item {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    gap:20px;
    color: #9D7F52;
}
.meta-item svg{
	width:30px;
	height:30px;
}
.meta-item div {display: flex; flex-direction: column;}
.meta-label {
    font-size: 12px;
    letter-spacing: 1px;
    color: #2B200B;
}
.meta-value {
    font-size: 19px;
    font-weight: 500;
    color: #2B200B;
	font-family: "Manrope", sans-serif;
}
.meta-divider {
    width: 1px;
    height: 36px;
    background: #e0e0e0;
}
.waysctn{background:#FFF;}
.waysctn p{ color:#4D4D4D; text-align:center;}
.waybx{
	margin-top:60px;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
}
.waybxcard{
	border-radius:20px;
	border:1px solid rgba(157,127,82,.55);
	background:#FCFAF4;
	transition: transform 0.35s ease, box-shadow 0.35s ease; 
	overflow: hidden;
	cursor:pointer;
}
.waybxcard img{ border-radius: 20px 20px 0 0; width: 100%; transition: transform 0.5s ease; }
.waybxcard:hover { transform: translateY(-6px); box-shadow: 0 12px 30px rgba(0,0,0,0.12); }
.waybxcard:hover img { transform: scale(1.08); }
.waybxcard .waytxtbxcard{padding: 35px 35px 50px;}
.waybxcard .waytxtbxcard h3{
	text-align: left;
    color: #2B200B;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 10px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.waybxcard .waytxtbxcard h3.animate{opacity: 1; transform: translateY(0px);}
.waybxcard .waytxtbxcard p{text-align:left;}
.upprfootr{background:#161716; text-align:center; padding: 30px 0;}
.upprfootr p a{color:#FFF;}
.upprfootr ul{
	padding-inline-start:0;
	margin: 47px auto 15px;
	display:table;
}
.upprfootr ul li{list-style-type:none; display:inline; margin:0 5px;}
.upprfootr ul li a svg{
	background: #9D7F52;
    fill: #FFF;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 8px;
}
.scrolled.innrnavbar{background: rgba(255, 255, 255, .99); padding:10px 0;}
.scrolled.innrnavbar 
.scrolled.innrnavbar .navbar-brand{margin-top:14px;}
.innrnavbar #myNavbar ul li a{color:#1A1A1A;}
.innrnavbar #myNavbar ul li a:hover{color:#C39E4B;}
.innrnavbar .nav.navbar-nav li.active a{color:#C39E4B !important;}
.innrnavbar #myNavbar ul li.cntxt {
    border: 1px solid #C39E4B;
    border-radius: 15px;
    padding: 0 40px;
}
.innrnavbar #myNavbar ul li.cntxt a{color:#C39E4B;}
.innrbnr .bannrTxtbox{top:390px;}
.innrbnr .bannrTxtbox .bannrBox h1{text-align:center;}
.infobar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #9D7F52;
    border-radius: 20px;
    padding: 22px 30px;
	position: relative;
    margin-top: -50px;
}
.infobar-item {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.infobar-item svg{width:40px; height:40px;}
.infobar-item div {display: flex; flex-direction: column;}
.info-label {
    font-size: 12px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    margin-bottom: 3px;
	font-family: "Manrope", sans-serif;
}
.info-value {
    font-size:20px;
    color: #FFF;
    font-weight:500;
	font-family: "Manrope", sans-serif;
}
.infobar-divider {
    width: 1px;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    flex-shrink: 0;
	display:none;
}
.bxsctn{
	display: grid;
    grid-template-columns:3fr 2fr;
    gap: 35px;
}
.bxsctnwrpr h4{
	padding:60px 0 30px;
	font-size:24px;
	text-align:left;
	font-family: "Manrope", sans-serif;
	color:#4D4D4D;
	line-height:34px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.bxsctnwrpr h4.animate{opacity: 1; transform: translateY(0px);}
.bxsctnwrpr p{
	color:#4D4D4D;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.bxsctnwrpr p.animate{opacity: 1; transform: translateY(0px);}
/* Tabs */
.itinerary-tabs {
    display: flex;
    align-items: center;
    background: #C39E4B;
    border-radius: 20px;
    padding:20px;
    gap:15px;
	margin:50px 0;
}
.itin-tab {
    flex: 1;
    display: flex;
    align-items: flex-end;
	justify-content: center;
    gap:20px;
    padding: 12px 20px;
    border: none;
    background: transparent;
    border-radius:10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Manrope", sans-serif;
}
.itin-tab .day-num {
    font-size:20px;
    font-weight:600;
    color: #FFF;
    transition: color 0.3s ease;
}
.itin-tab .day-date {
    font-size: 15px;
	font-weight:500;
    color: #D9D9D9;
    transition: color 0.3s ease;
}
.itin-tab.active {background: #fff; box-shadow: 0 2px 8px rgba(0,0,0,0.08);}
.itin-tab.active .day-num {color: #2B200B; font-size:20px; font-weight:600;}
.itin-tab.active .day-date {color: #707070; font-size:15px; font-weight:500;}
.itin-tab:hover:not(.active) .day-num {color: #FFF;}
.itenarysctn h2:after{right:25vw;}
.itenarysctn h2:before{left:25vw;}
/* Body */
.itinerary-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Row */
.itin-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
/* Timeline */
.itin-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    flex-shrink: 0;
    padding-top: 0;
}
.timeline-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-icon svg{}
.timeline-date {
    font-size: 14px;
    color: #000;
	font-weight:400;
    margin-top: 6px;
	font-family: "Manrope", sans-serif;
    text-align: center;
}
.timeline-line {
    width: 1px;
    flex: 1;
    min-height: 40px;
    background: #ddd;
    margin-top: 8px;
	display: none;
}
/* Accordion */
.itin-accordion {
    flex: 1;
    background: #FCFAF4;
    border: 1px solid #e8e0d5;
    border-radius: 12px;
    overflow: hidden;
}
.accordion-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 48px 60px 0;
    cursor: pointer;
    user-select: none;
}
.accordion-header h3 {
    font-size: 24px;
    font-weight: 400;
    color: #2B200B;
    margin: 0;
	text-align:left;
}
.chevron {flex-shrink: 0; transition: transform 0.35s ease;}
/* Accordion Body */
.accordion-body {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	padding: 0 28px 40px; /* add horizontal padding */
}
.accordion-body > div {overflow: hidden;}
.itin-accordion.open .accordion-header{background:#FFF;}
.itin-accordion.open .accordion-body { grid-template-rows: 1fr; padding: 47px 60px 40px; background:#FFF;/* padding when open */}
.itin-accordion.open .chevron {transform: rotate(180deg);}
.accordion-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
/* List */
.itin-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.itin-list li {
    display: flex;
    align-items: flex-start;
    gap:20px;
    font-size: 16px;
    color: #4D4D4D;
    line-height:24px;
}
.itin-list li svg {flex-shrink: 0; margin-top:3px;}
/* Image */
.accordion-img {border-radius:20px; overflow: hidden;}
.accordion-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}
.incldsctn{ background: #C39E4B; background: linear-gradient(180deg, rgba(195, 158, 75, 1) 0%, rgba(157, 127, 82, 1) 100%);}
.incldsctn h1{
	position:relative;
	font-family: "Manrope", sans-serif;
	color:#FFF;
	font-size:24px;
	font-weight:600;
	padding:0 25px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.incldsctn h1.animate{opacity: 1; transform: translateY(0px);}
.incldcrd{
	margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
    align-items: stretch;
}
.incldcrdbx{
	display: flex;
    align-items: flex-start;
    gap:15px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.incldcrdbx.animate{opacity: 1; transform: translateY(0px);}
.incldcrdbx img{flex-shrink: 0;}
.lwrsctn{
	display:flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap:50px;
	justify-content: flex-start;
}
.lwrsctnbx{flex: 1 46%;}
.tchbx{margin-bottom:20px;}
.tchbx h4{font-family: "Manrope", sans-serif; color:#2B200B; text-align:left; font-size:24px; margin-bottom:20px;}
.tchbx p{text-align:left;}
.tchbx p a{color:#4D4D4D; font-weight:700;}
.pckgbx{border:1px solid rgba(157,127,82,.55);}
.pckgbxhdng{
	position:relative;
	background:#FCFAF4;
	padding:30px 48px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom:1px solid rgba(157,127,82,.55);
}
.pckgbxhdng h2{
	text-align:left;
	font-size:30px;
	line-height:44px;
	font-weight:400;
	text-transform:capitalize;
	color:#2B200B;
	letter-spacing:0;
	font-family: "Prata", serif;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.pckgbxhdng h2.animate{opacity: 1; transform: translateY(0px);}
.pckgbxhdng h2:after{display:none;}
.pckgbxhdng h2:before{display:none;}
.pckgbxhdng p{text-align:left; color:#9D7F52; font-size:17px; line-height:36px; font-weight:600; margin-bottom:0;}
.pckgbx .incldbx{padding:30px 48px;}
.pckgbx .incldbx ul{padding-inline-start:0;}
.pckgbx .incldbx ul li{
	list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
	padding: 10px 0;
	color:#4D4D4D;
	font-size:16px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.pckgbx .incldbx ul li.animate{opacity: 1; transform: translateY(0px);}
.pckgbx .incldbx ul li img{margin-right:10px;}
.pckgbx .incldbx p{text-align:left; color:#000;}
.pckgbx .incldbx h3{text-align:left; color:#2B200B; font-family: "Manrope", sans-serif; font-weight:500; opacity: 0; transform: translateY(30px); transition: opacity 0.9s ease, transform 0.9s ease;}
.pckgbx .incldbx h3.animate{opacity: 1; transform: translateY(0px);}
.enquirybx{background:#FCFAF4; border:1px solid #9D7F52; padding:55px 45px;}
.enquirybx h1{text-align:left; margin-bottom:40px; font-size:45px; color:#4D4D4D;}
.enquirybx .form-box{margin-bottom:40px;}
.enquirybx .form-box input{
	background: #FFF;
    color: #000;
    height:60px;
    border-radius: 20px;
	font-family: "Manrope", sans-serif;
	font-size:16px;
	border-radius:20px;
	padding:18px;
	border:1px solid rgba(157,127,82,.55);
}
.enquirybx .form-box input::placeholder { color: #000;}
.enquirybx .form-box textarea{
	background: #FFF;
    color: #000;
    height:150px;
    border-radius: 20px;
	font-family: "Manrope", sans-serif;
	font-size:16px;
	border-radius:20px;
	padding:18px;
	border:1px solid #9D7F52;
}
.enquirybx .form-box textarea::placeholder{color: #000;}
.enquirybx .form-box button{margin-top:0; outline:none; border:none; justify-content: center;}
.upprbdsctn{padding-top:100px;}
.philosophysctn{
	margin-top:90px;
	display:flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap:50px;
	justify-content: flex-start;
}
.philosophybx{flex: 1 46%;}
.philosophybx h1{text-align:left; color:#8B6F45;}
.philosophybx p{color:#4D4D4D; font-size:24px; line-height:34px; font-weight:600;}
.philosophybx ul{padding-inline-start:0; column-count:2; margin-top:40px;}
.philosophybx ul li{list-style-type:none; padding-right: 12px;}
.philosophybx ul li p{font-size:15px; line-height:24px; font-weight:400;}
.philosophybx ul li img{margin-bottom:10px;}
.sltnbxwrppr {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
	gap:20px;
}
.definsctnbx {
    flex:1 21%;
	padding:30px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
	text-align:center;
}
.definsctnbx h4{
	color:#1A1A1A; 
	font-family: "Manrope", sans-serif; 
	margin-bottom:20px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.definsctnbx h4.animate{opacity: 1; transform: translateY(0px);}
.definsctnbx p{color:#4D4D4D;}
.definsctnbx img{
	margin:0 auto 20px; 
	display:table; 
	width:auto;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.definsctnbx img.animate{opacity: 1; transform: translateY(0px);}
.definsctnbx:hover {
    border: 1px solid #C39E4B;
    border-radius: 15px;
    cursor: pointer;
    transform: translateY(-4px);
}
.howbegan-section {
    position: relative;
    width: 100%;
    min-height: 520px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.howbegan-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.howbegan-overlay {
    position: absolute;
    inset: 0;
    background: rgba(180, 130, 30, 0.60);
    z-index: 1;
}
.howbegan-inner {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.howbegan-header { text-align: center; margin-bottom: 60px;}
.howbegan-eyebrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
	font-weight:600;
    font-size: 15px;
    letter-spacing: 0.2em;
    color: #fff;
    margin-bottom: 8px;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.howbegan-eyebrow.animate{opacity: 1; transform: translateY(0px);}
.howbegan-eyebrow .line {
    display: inline-block;
    width: 28px;
    height: 1px;
    background: #fff;
}
.howbegan-title {
    font-weight: 400;
    color: #fff;
    margin: 0;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.howbegan-title.animate{opacity: 1; transform: translateY(0px);}
/* Grid */
.howbegan-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
	position:relative;
	gap:25px;
}
/* Base card */
.hb-card {
    color: #fff;
    font-size: 15px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    gap:20px;
	text-align:center;
    background: transparent;
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.hb-card.animate{opacity: 1; transform: translateY(0px);}
/* Number badge */
.hb-num {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #fff;
    color: #9D7F52;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
}
/* Badge sits ON the border line */
.rchsctn{
	display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
	align-items: start;
}
.cntctbx{background:#FCFAF4; border:1px solid rgba(187,127,82,.55); border-radius:20px; flex:1 46%;}
.cntctbx img{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.follwbx{padding:60px 25px;}
.follwbx ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.follwbx ul li{background:#FFF;}
.follwbx ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    border: 1px solid #9D7F52;
    border-radius: 12px;
    text-decoration: none;
    transition: background 0.3s ease;
}
.follwbx ul li a:hover {background: #f9f4ec;}
.flw-left {
    display: flex;
    align-items: center;
    gap:20px;
}
.flw-left img{ border-radius: 10px;}
.flw-txt{
    display:flex;
    flex-direction: column;
    gap:6px;
}
.flw-title{
    font-size:17px;
    font-weight: 600;
    color: #111;
}
.flw-sub{font-size: 14px; color: #9D7F52; font-weight:500; font-family: "Manrope", sans-serif; word-break: break-word;}
.flw-arrow{color: #9D7F52; font-size: 18px;}
.racebxsctn{grid-template-columns:2fr 2fr; gap: 40px;}
/*MEDIA QUERY CSS STARTS HERE*/
@media only screen and (orientation:portrait){}
@media screen and (max-width:1440px){}
@media screen and (max-width:1366px){
	.bannrTxtbox{top: 110px;}
	.bannrTxtbox .bannrBox a.exprnc{margin-top:15px;}
}
@media screen and (max-width:1280px){}
@media screen and (max-width:1080px){}
@media(min-width: 981px) and ( max-width: 1024px){
	.bannersctn img{height:800px; object-fit:cover;}
} 
@media screen and (min-width:768px) and (max-width:991px){}
@media all and (min-width:768px) and (max-width:991px) and (orientation:landscape) {}
@media screen and (max-width:991px) {
	.bannrTxtbox{left:0; padding:0 15px;}
	.waybx{grid-template-columns: repeat(2, 1fr);}
	.card-content{padding: 30px;}
	.philosophybx ul{column-count: 1;}
	.definsctnbx{ flex: 1 46%;}
	.itin-tab{gap: 10px;}
	.incldcrd{grid-template-columns: repeat(2, 1fr);}
	.bxsctn{grid-template-columns: 2fr 3fr;}
	.infobar{padding: 22px 15px;}
	.rchsctn{grid-template-columns:1fr;}
}
@media screen and (max-width:767px){
	.itin-tab { gap: 0; padding: 12px 8px; flex-wrap: wrap; justify-content: center;}
	.itinerary-tabs{gap:6px; padding:15px 8px;}
	.accordion-content{grid-template-columns: 1fr;}
	.bxsctn{grid-template-columns:1fr;}
	.bxsctnwrpr h4{padding: 0 0 30px;}
}
@media screen and (max-width:540px){}
@media screen and (orientation: landscape) and (max-height: 500px) {}
@media (max-width:480px){
	.servicegrid{grid-template-columns: repeat(1, 1fr); margin-top: 50px;}
	.waybx{grid-template-columns: repeat(1, 1fr);}
	.bannrTxtbox h1{line-height:52px; font-size:40px;}
	.bannrTxtbox{top:150px;}
	.howbegan-grid{grid-template-columns: repeat(1, 1fr);}
	.definsctnbx {flex: 1 50%;}
	.incldcrd{grid-template-columns: repeat(1, 1fr);}
	.enquirybx{padding: 28px 28px;}
	.accordion-header h3{font-size:19px;}
	.infobar{gap:20px; flex-wrap: wrap;}
	.infobar-item{flex-wrap: wrap; flex: 1 50%; justify-content: flex-start; align-items: flex-start;}
	.innrbnr .bannrTxtbox{top: 190px;}
	.sctninnr-title{font-size:36px; margin-bottom:40px;}
	.sctninnr-eyebrow{margin-bottom:8px;}
	.accordion-body{padding: 0 24px 24px;}
	.accordion-header{padding:24px 24px 0;}
	.itin-accordion.open .accordion-body{padding:24px;}
}
@media (max-width:414px){}
@media (max-width:394px){}
@media (max-width:375px){}
@media (max-width:320px){}